page-login {

  ion-icon[name="logo-facebook"]{
    margin-right: 5px;
    font-size: 24px;
  }

  ion-content{
    .eyeIcon{
      font-size: 1.3em;
    }
  }
  .title-logo{
    font-family: 'choco_cookyregular';
  }

  .segment {
    color: #ffffff;
  }

}

